<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sh.dao.UserDao" >
    <select id="getMaster" parameterType="Integer" resultType="user">
        SELECT * FROM t_user WHERE id = #{id}
    </select>

    <select id="getSlave" parameterType="Integer" resultType="user">
        SELECT * FROM t_user WHERE id = #{id}
    </select>

    <update id="update" parameterType="user">
        UPDATE t_user
        <set>
            <if test="username != null and username !=''">
                username = #{username},
            </if>
            <if test="password != null and password !=''">
                password = #{password},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="list" resultType="user">
        SELECT * FROM t_user
    </select>

    <insert id="add" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (username,password,age) value (#{username},#{password},#{age})
    </insert>

    <insert id="addList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (username,password,age) values
        <foreach collection="list" separator="," item="user">
            (#{user.username},#{user.password},#{user.age})
        </foreach>
    </insert>
</mapper>